* {
  margin: 0;
  padding: 0;
  font-family: Manrope;
}
* a {
  text-decoration: none;
  color: inherit;
}

.header_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  height: 7rem;
  font-size: 1.1rem;
}
.header_section_logo {
  width: -moz-fit-content;
  width: fit-content;
}
.header_section_navs ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header_section_navs ul li {
  padding: 0px 3rem;
  list-style-type: none;
  font-weight: 600;
}
.header_section_btn button {
  background-color: #4F46E5;
  color: #ffffff;
  border-color: #4F46E5;
  border-radius: 10px 10px 10px 10px;
  padding: 0.75em 2em 0.75em 2em;
  font-weight: 600;
  font-size: 1.1rem;
}
.header_section_btn button:hover {
  color: #ffffff;
}

.section_one, .section_four {
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  position: relative;
  height: 39rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.section_one_bg_layout, .section_four_bg_layout {
  background: linear-gradient(180deg, rgba(11, 15, 25, 0.58) 0%, rgba(11, 15, 25, 0.78) 100%) !important;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.section_one_text, .section_four_text {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
  z-index: 3;
  position: relative;
}
.section_one_text h2, .section_four_text h2 {
  font-size: 4rem;
  line-height: 7rem;
  text-align: center;
}
.section_one_text p, .section_four_text p {
  text-align: center;
  font-weight: 400;
  padding-top: 2rem;
  line-height: 1.6rem;
}

.section_two {
  display: flex;
  justify-content: space-around;
  padding: 8rem 8rem 0 8rem;
  flex-wrap: wrap;
}
.section_two_text {
  width: 40%;
}
.section_two_text h2 {
  font-size: 2.7rem;
  padding-bottom: 1.5rem;
}
.section_two_text p {
  line-height: 2rem;
  padding: 1rem 5rem 3rem 0rem;
}
.section_two_text button {
  background-color: #4F46E5;
  color: #ffffff;
  border-color: #4F46E5;
  border-radius: 10px 10px 10px 10px;
  padding: 0.75em 2em 0.75em 2em;
  font-weight: 600;
  padding: 1.5em 3em 1.5em 3em !important;
}
.section_two_img {
  width: 45%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.section_two_img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
}

.section_three {
  position: relative;
  padding: 12rem 8rem 5rem;
  z-index: -1;
  top: -7rem;
  background-color: #f3f6ff;
}
.section_three_intro, .section_three_end {
  line-height: 2rem;
  padding-bottom: 3rem;
  width: 70%;
}
.section_three_intro h2, .section_three_end h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: bolder;
}
.section_three_contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section_three_contents_one, .section_three_contents_two, .section_three_contents_three, .section_three_contents_four, .section_three_contents_five, .section_three_contents_six {
  width: 44%;
  margin-top: 5rem;
  background-color: #fff;
  box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03) !important;
  padding: 3.5rem 1.5rem 1.5rem;
  position: relative;
  border-radius: 0.5rem;
}
.section_three_contents_one > :first-child, .section_three_contents_two > :first-child, .section_three_contents_three > :first-child, .section_three_contents_four > :first-child, .section_three_contents_five > :first-child, .section_three_contents_six > :first-child {
  position: absolute;
  top: -3rem;
  padding: 1rem;
  background-color: rgb(99, 102, 241);
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(99, 102, 241, 0.9);
}
.section_three_contents_one > :nth-child(2) p, .section_three_contents_two > :nth-child(2) p, .section_three_contents_three > :nth-child(2) p, .section_three_contents_four > :nth-child(2) p, .section_three_contents_five > :nth-child(2) p, .section_three_contents_six > :nth-child(2) p {
  padding-top: 1rem;
  line-height: 1.6rem;
  font-weight: 100;
  font-size: 1rem;
}
.section_three_end {
  position: relative;
  top: 5rem;
}

.section_four {
  background-image: url(../images/case-study02.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  bottom: 0;
  left: 0;
  height: 39rem !important;
  display: block;
  margin-top: -7rem;
}
.section_four_bg_layout {
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
.section_four_text {
  width: 30% !important;
  color: #000 !important;
  background: #fff;
  display: block !important;
  margin: 4rem 0 4rem 5rem;
  z-index: 3;
  position: absolute;
  padding: 2rem 2rem;
  line-height: 4rem;
  border-radius: 1rem;
}
.section_four_text p {
  text-align: start !important;
}
.section_four_text img {
  width: 18%;
}
.section_four_text h3 {
  font-size: 2rem;
  text-align: center;
}
.section_four_text h4 {
  text-align: center;
}
.section_four_text button {
  background-color: #4F46E5;
  color: #ffffff;
  border-color: #4F46E5;
  border-radius: 10px 10px 10px 10px;
  padding: 0.75em 2em 0.75em 2em;
  font-weight: 600;
}

.section_five {
  padding: 10rem 8rem 4rem 8rem;
}
.section_five_title {
  text-align: center;
  line-height: 3rem;
}
.section_five_title h3 {
  font-size: 2rem;
}
.section_five_title p {
  color: #9397AD;
}
.section_five_content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.section_five_content .about {
  width: 28% !important;
  margin-bottom: 8rem;
  line-height: 2rem;
}
.section_five_content .about p {
  color: #9397AD;
}
.section_five_content .about > :first-child {
  box-shadow: none !important;
}
.section_five_content_one, .section_five_content_two, .section_five_content_three, .section_five_content_four {
  width: 19%;
  border-right: 1px solid #9397AD;
  text-align: center;
  padding: 2rem;
}
.section_five_content_one > :first-child, .section_five_content_two > :first-child, .section_five_content_three > :first-child, .section_five_content_four > :first-child {
  box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03) !important;
  width: 70px;
  margin: 1rem auto;
  height: 70px;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.section_five_content_four {
  border-right: none !important;
}

.section_six {
  padding: 5rem 5.5rem 0rem 5.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.section_six .sponsor_logo {
  width: 12%;
  padding: 2rem 1rem;
  border: 1px solid #e2e5f1;
}
.section_six .sponsor_logo img {
  width: 100%;
}

.section_seven {
  background-color: #0b0f19 !important;
  text-align: center;
  padding: 4rem 0 3rem 0;
  opacity: 0.93;
  line-height: 5rem;
  word-spacing: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 2rem;
}
.section_seven h4 {
  color: #9397AD;
}
.section_seven button {
  background-color: #4F46E5;
  color: #ffffff;
  border-color: #4F46E5;
  border-radius: 10px 10px 10px 10px;
  padding: 0.75em 2em 0.75em 2em;
  font-weight: 600;
  padding: 1rem 4rem !important;
  font-size: 1rem;
}

.section_eight {
  padding: 4rem 0 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #ffffff;
  background-color: #0b0f19 !important;
}
.section_eight_intro, .section_eight_navs, .section_eight_contact {
  width: 30%;
}
.section_eight_intro {
  line-height: 2rem;
}
.section_eight_intro p {
  padding-top: 2rem;
}
.section_eight_intro button {
  background-color: #4F46E5;
  color: #ffffff;
  border-color: #4F46E5;
  border-radius: 10px 10px 10px 10px;
  padding: 0.75em 2em 0.75em 2em;
  font-weight: 600;
}
.section_eight_intro input {
  height: 2.5rem;
  width: 18rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  border: #ffffff;
  padding-left: 2rem;
  background: transparent;
  color: #ffffff;
}
.section_eight_navs ul {
  height: 2.5rem;
  width: 18rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  border: transparent;
  padding-left: 2rem;
  list-style-type: none;
}
.section_eight_navs ul li {
  color: #9397AD;
  font-weight: bolder;
}

.about_section_one {
  background-image: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
}
.about_section_one_text {
  width: 35%;
  padding: 6rem;
}
.about_section_one_text > p {
  padding: 4rem 0 10rem;
  line-height: 2.5rem;
}
.about_section_one_text_one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_section_one_text_one > :first-child, .about_section_one_text_one > :nth-child(2), .about_section_one_text_one > :nth-child(3) {
  line-height: 2rem;
}
.about_section_one_img {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.about_section_one_img > :first-child {
  width: 40%;
  line-height: 5rem;
  position: relative;
  top: 6rem;
}
.about_section_one_img > :first-child img {
  width: 100%;
  border-radius: 1rem;
}
.about_section_one_img > :last-child {
  width: 40%;
  line-height: 5rem;
  position: relative;
  top: 1rem;
}
.about_section_one_img > :last-child img {
  width: 100%;
  border-radius: 1rem;
}

.about_section_leadership {
  text-align: center;
  padding: 4rem;
}
.about_section_leadership_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about_section_leadership_wrapper_one, .about_section_leadership_wrapper_two, .about_section_leadership_wrapper_three, .about_section_leadership_wrapper_four, .about_section_leadership_wrapper_five, .about_section_leadership_wrapper_six, .about_section_leadership_wrapper_seven, .about_section_leadership_wrapper_eight {
  width: 21%;
  line-height: 2.5rem;
  margin: 3rem 0;
}
.about_section_leadership_wrapper_one img, .about_section_leadership_wrapper_two img, .about_section_leadership_wrapper_three img, .about_section_leadership_wrapper_four img, .about_section_leadership_wrapper_five img, .about_section_leadership_wrapper_six img, .about_section_leadership_wrapper_seven img, .about_section_leadership_wrapper_eight img {
  width: 100%;
  border-radius: 0.5rem;
}

.about_section_contact {
  position: relative;
  width: 80%;
  margin: 0rem auto 3rem;
  height: 20rem;
  background: linear-gradient(90deg, #6366f1 0%, #8b5cf6 50%, #d946ef 100%), url(../images/contact-bg.png) !important;
  border-radius: 0.5rem;
}
.about_section_contact_content {
  background-image: url(../images/contact-bg.png);
  padding: 5.5rem;
  text-align: center;
}
.about_section_contact_content > :first-child {
  line-height: 3rem;
  color: #ffffff;
}
.about_section_contact_content > :first-child p {
  line-height: 5rem;
  font-size: 3rem;
}
.about_section_contact_content > :first-child h2 {
  font-size: 1.3rem;
  font-weight: 200;
}
.about_section_contact_content > :first-child button {
  background-color: #ffffff;
  letter-spacing: 0.1rem;
  color: #000;
  font-weight: 900;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  border: 1px solid #fff !important;
}

@media only screen and (max-width: 767px) {
  .section_one, .section_four {
    background-position: top center;
    background-size: cover;
    padding: 5rem 0;
    height: auto;
  }
  .section_one_text, .section_four_text {
    width: 90%;
    margin: 0 auto;
  }
  .section_one_text h2, .section_four_text h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .section_one_text p, .section_four_text p {
    line-height: 1.7rem;
  }
  .section_two {
    padding: 4rem 1rem 0 1rem;
  }
  .section_two_text {
    width: 95%;
    text-align: center;
  }
  .section_two_text h2 {
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
  }
  .section_two_text p {
    padding: 1rem 0rem 3rem 0rem;
  }
  .section_two_text button {
    margin: -1rem 0 2rem;
  }
  .section_two_img {
    width: 100%;
  }
  .section_three {
    padding: 12rem 1rem 5rem;
  }
  .section_three_intro, .section_three_end {
    line-height: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    width: 100%;
  }
  .section_three_intro h2, .section_three_end h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
    font-weight: bolder;
  }
  .section_three_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .section_three_contents_one, .section_three_contents_two, .section_three_contents_three, .section_three_contents_four, .section_three_contents_five, .section_three_contents_six {
    width: 100%;
  }
  .section_four {
    height: auto !important;
  }
  .section_four_text {
    width: 75% !important;
    position: relative;
  }
  .section_four_text p {
    text-align: start !important;
  }
  .section_four_text h3 {
    font-size: 1.1rem;
    text-align: left;
  }
  .section_four_text h4 {
    text-align: left;
    font-weight: 100;
  }
  .section_four_text p {
    padding-top: 0.5rem;
  }
  .section_four_text button {
    background-color: #4F46E5;
    color: #ffffff;
    border-color: #4F46E5;
    border-radius: 10px 10px 10px 10px;
    padding: 0.75em 2em 0.75em 2em;
    font-weight: 600;
  }
  .section_five {
    padding: 5rem 1rem 4rem 1rem;
  }
  .section_five_title {
    line-height: 2rem;
  }
  .section_five_title p {
    padding-top: 1rem;
  }
  .section_five_content {
    margin-top: 0;
  }
  .section_five_content .about {
    width: 28% !important;
    margin-bottom: 8rem;
    line-height: 2rem;
  }
  .section_five_content .about p {
    color: #9397AD;
  }
  .section_five_content .about > :first-child {
    box-shadow: none !important;
  }
  .section_five_content_one, .section_five_content_two, .section_five_content_three, .section_five_content_four {
    width: 100%;
    border-right: none;
  }
  .section_six {
    margin-top: -2rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  .section_six .sponsor_logo {
    width: 18%;
    margin-top: 1rem;
  }
  .section_seven h2 {
    font-size: 1.6rem;
    line-height: 3rem;
    padding: 0 1rem;
    word-spacing: 0.2rem;
  }
  .section_seven h4 {
    word-spacing: 0.2rem;
  }
  .section_eight {
    text-align: center;
  }
  .section_eight_intro, .section_eight_navs, .section_eight_contact {
    width: 100%;
  }
  .section_eight_intro {
    line-height: 2rem;
  }
  .section_eight_intro p {
    padding-top: 2rem;
  }
  .section_eight_intro button {
    background-color: #4F46E5;
    color: #ffffff;
    border-color: #4F46E5;
    border-radius: 10px 10px 10px 10px;
    padding: 0.75em 2em 0.75em 2em;
    font-weight: 600;
  }
  .section_eight_intro input {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #ffffff;
    padding-left: 2rem;
  }
  .section_eight_navs ul {
    height: 10rem;
    line-height: 2.5rem;
    width: 100%;
    padding-left: 0rem;
  }
  .section_eight_navs ul li {
    color: #9397AD;
    font-weight: bolder;
  }
  .section_eight_contacts {
    margin-top: 3rem;
  }
}/*# sourceMappingURL=styles.css.map */