$primary_color: #F7F9FC;
$secondary_color: #f3f6ff;
$text_color: #0B081D;
$accent_color: #4F46E5;
$white_color: #ffffff;
$bg_color: #f3f6ff;
$font_family: Manrope;
$font_weight: 600;
$gray_color: #9397AD;
$icon_bg: rgb(99,102, 241);

*{
    margin: 0;
    padding: 0;
    font-family:  $font_family;

    a{
        text-decoration: none;
        color: inherit;
    }
  
}

.bg{
    background: $white_color !important;
}

.cl{
    color: white !important;
}


@mixin Buttons {
   
    background-color: $accent_color;
    color: $white_color;
    border-color: $accent_color;
    border-radius: 10px 10px 10px 10px;
    padding: 0.75em 2em 0.75em 2em;
    font-weight: $font_weight;

}

.active{
    width: 2rem !important;
    height: 2rem !important;
    transition: ease-in-out 10s;
    :first-child{
        transform: rotate(45deg) !important;
        margin-top: 0.9rem !important;
    }

    :nth-child(2){
        display: none !important;
    }

    :last-child{
        transform: rotate(-45deg) !important;
        margin-top: -0.2rem !important;
    }
}


.show{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
   
   


    ul{
        width: 100%;
        font-size: 1.4rem;
        line-height: 3rem;
        padding: 8rem 0 1rem;
    }
}



.header_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 7rem;
    height: 7rem;
    font-size: 1.1rem;

    &_bars{
        display: none;
        width: fit-content;
        z-index: 5;
        
        right: 1rem;
        top: 2.3rem;
        position: absolute;
        &_one, &_two, &_three{
            width: 2rem;
            display: block;
            height: 0.15rem;
            margin-top:0.3rem;
            background: $text_color;
          
           

        }
        
    }


    &_logo{
        width: fit-content;

    }

    &_navs{
        display: flex;
        align-items: center;
        width: 75%;


        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%
        }
       

        
    }

  

    &_btn{
        button{
            @include Buttons;
            font-size: 1.1rem;
        }

        button:hover{
            // background-color: $sky_blue;
            color: $white_color;
            // border-color: $sky_blue;
        }

        
    }

    
    
   
}


.section_one, .section_four{

    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    height: 39rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    

    &_bg_layout{
        background: linear-gradient(180deg, rgba(11, 15, 25, 0.58) 0%, rgba(11, 15, 25, 0.78) 100%) !important;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &_text{
        display: flex;
        justify-content: center;
        // height: 100vh;
        width: 50%;
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: center;
        color: $white_color;
        z-index: 3;
        position: relative;


        h2{
            font-size: 4rem;
            line-height: 7rem;
            text-align: center;
        }

        p{
            text-align: center;
            font-weight: 400;
            padding-top: 2rem;
            line-height: 1.6rem;
        }
       
    }
    
}         


.section_two{
    display: flex;
    justify-content: space-around;
    padding: 8rem 8rem 0 8rem;
    flex-wrap: wrap;


    &_text{
        width: 40%;

        h2{
            font-size: 2.7rem;
            padding-bottom: 1.5rem;
        }

        p{
            line-height: 2rem;
            padding: 1rem 5rem 3rem 0rem;
        }
        button{
            @include Buttons;
            padding: 1.5em 3em 1.5em 3em !important; 
        }



    }

    &_img{
        width: 45%;
        object-fit: contain;
        object-position: center;


        img{
            width: 100%;
            object-fit: contain;
            object-position: center;
            border-radius: 0.5rem;
        }
    }
}


.section_three{
    position: relative;
    padding: 12rem 8rem 5rem;
    z-index: -1;
    top: -7rem;
    background-color: #f3f6ff;

    &_intro, &_end{
        // padding-left: 3rem;
        line-height: 2rem;
        padding-bottom: 3rem;
        width: 70%;

        h2{
            font-size: 2rem;
            padding-bottom:2rem;
            font-weight: bolder;
        }

    }


    &_contents{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;



        &_one, &_two, &_three, &_four, &_five, &_six{
            width: 44%;
            margin-top: 5rem;
            background-color: #fff;
            box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 6%), 0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%) !important;
            padding: 3.5rem 1.5rem 1.5rem;
            position: relative;
            border-radius: 0.5rem;
           

            >:first-child{
                position: absolute;
                top: -3rem;
                padding: 1rem;
                background-color: $icon_bg;
                box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(99 102 241 / 90%) 
            }

            >:nth-child(2){
                p{
                    padding-top: 1rem;
                    line-height: 1.6rem;
                    font-weight: 100;
                    font-size: 1rem;
                }
            }
        }



    }


    &_end{
        position: relative;
        top: 5rem;
    }
}


.section_four{
    background-image: url(../images/case-study02.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;

    position: relative;
    bottom: 0;
    left: 0;
    height: 39rem !important;
    display: block;
   
    margin-top: -5rem;
    margin-bottom: 3rem;



    &_bg_layout{
        // background-color: #0b0f19 !important;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
    }

    &_text{
 
    width: 30% !important;
    color: #000 !important;
    background: #fff;
    display: block !important;
    margin: 4rem 0 4rem 5rem;
    z-index: 3;
    position: absolute;
    padding: 2rem 2rem;
    line-height: 4rem;
    border-radius: 1rem;


        p{
            text-align: start !important;
        }

        img{
            width: 18%;
        }

        h3{
            font-size: 2rem;
            text-align: center;
        }
        h4{
            text-align: center;
        }

        button{
            @include Buttons;
        }
    }


}

.section_five{
    padding: 10rem 8rem 4rem 8rem;

    &_title{
        text-align: center;
        line-height: 3rem;


        h3{
            font-size: 2rem;
        }

        p{
            color: $gray_color;
        }

    }


    &_content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 4rem;
     
            .about{
                width: 28% !important;
                margin-bottom: 8rem;
                line-height: 2rem;

                p{
                    color: $gray_color;
                }



                
                    >:first-child{
                        box-shadow: none !important;
                    
                }
            }

        &_one, &_two, &_three, &_four{
            width: 19%;
            border-right: 1px solid $gray_color;
            text-align: center;
            padding: 2rem;



            >:first-child{
                box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 6%), 0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%) !important;
                width: 70px;
                margin: 1rem auto;
                height: 70px;
                justify-content: center;
                border-radius: 50%;
                display: flex;
                align-items: center;

            }
            
            
            
        }

        &_four{
            border-right: none !important;
        }
    

    }
}

.section_six{
 
    padding: 5rem 5.5rem 0rem 5.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;


    .sponsor_logo{
        width: 12%;
        padding: 2rem 1rem;
        border: 1px solid #e2e5f1;;

        img{
            width: 100%;
        }
    
        
    }
}


.section_seven{
    background-color: #0b0f19 !important;
    text-align: center;
    padding: 4rem 0 3rem 0;
    opacity: 0.93;
    line-height: 5rem;
    word-spacing: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 2rem;

    h4{
        color: $gray_color
    }

    button{
        @include Buttons;
        padding: 1rem 4rem !important;
        font-size: 1rem;
    }
}


.section_eight{
    padding: 4rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  color: $white_color;
    background-color: #0b0f19 !important;

    &_intro, &_navs, &_contact{
        width: 30%;
    }


    &_intro{
        line-height: 2rem;
        p{
            padding-top: 2rem;
        }
        button{
            @include Buttons;
        }
        input{
            height: 2.5rem;
            width: 18rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            border: $white_color;
            padding-left: 2rem;
            background: transparent;
            color: $white_color;
        }

    }

    &_navs{
        ul{
            height: 2.5rem;
            width: 18rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            border: transparent;
            padding-left: 2rem;
            list-style-type: none;
            li{
                color: $gray_color;
                font-weight: bolder;
            }
        }
    }

}

// About Sections


.about_section_one{
    background-image: url(../images/hero-bg.svg);
    // object-fit: contain;
    background-repeat: no-repeat;
    // background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_text{
        width: 40%;
        padding: 8rem 4rem 5rem 4rem;
        // line-height: 2rem;

        >p{
            padding: 4rem 0 10rem;
            line-height: 2.5rem;
        }



        &_one{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            >:first-child, >:nth-child(2), >:nth-child(3){
                line-height: 2rem;
            }

        }
    }

    &_img{
        width: 50%;
        display: flex;
        justify-content: space-evenly;

        >:first-child{
            width: 40%;
            line-height: 5rem;
            position: relative;
            top: 6rem;
            img{
                width: 100%;
                border-radius: 1rem;
            }
        }
        >:last-child{
            width: 40%;
            line-height: 5rem;
            position: relative;
            top: 1rem;

            img{
                width: 100%;
                border-radius: 1rem;
            }
        }
    }
}

.about_section_leadership{
    text-align: center;
    padding: 4rem;


    &_wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;



        &_one, &_two, &_three, &_four, &_five, &_six, &_seven, &_eight{
            width: 21%;
            line-height: 2.5rem;
             margin: 3rem 0;
            
            img{
                width: 100%;
                border-radius: 0.5rem;
            }
        }
    }

}


.about_section_contact{
 
    position: relative;
    width: 80%;
    margin: 0rem auto 3rem;
    height: 20rem;
    background: linear-gradient(90deg, #6366f1 0%, #8b5cf6 50%, #d946ef 100%), url(../images/contact-bg.png) !important;
    border-radius: 0.5rem;

    &_content{
       
        background-image: url(../images/contact-bg.png);
        padding: 5.5rem;
        // position: absolute;
        text-align: center;


        >:first-child{
            line-height: 3rem;
            color: $white_color;

            p{
                line-height: 5rem;
                font-size: 3rem;
            }

            h2{
                font-size: 1.3rem;
                font-weight: 200;
            }

            button{
                background-color: #ffffff;
                letter-spacing: 0.1rem;
                color: #000;
                font-weight: 900;
                border-radius: 0.5rem;
                padding: 1rem 2rem;
                border: 1px solid #fff !important;
            }
        }
    }
}

// contact sections

.contact{
    align-items: center;
    padding: 8rem;

    &_text{
        width: 40%;
        line-height: 7rem;


        h2{
            font-size: 6rem;
            background: linear-gradient(to right, #6366f1, #8B5CF6, #D946EF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0,0,0,0);
        }

        p{
            margin-top: 3rem;
    text-decoration: underline;
    font-weight: 700;
        }
    }



    &_form{
        width: 50%;
        line-height: 3rem;


        >:first-child{
            width: 100%;
            display: flex;
            justify-content: space-between;

            div{
                width: inherit;
                input{
                    height: 3rem;
                    outline: none;
                    width: 95%;
                    border-radius: 0.5rem;
                    margin-bottom: 3rem;
                    border: 1px solid #d4d7e5;;
                }
            }
            

        }
        >:last-child{
            // width: inherit;

          
                textarea{
                    width: 100%;
                    height: 6rem;
                        border-radius: 0.5rem;
                    border: 1px solid #d4d7e5;;
                    margin-bottom: 3rem;
                
                 
            }

            

            button{
                @include Buttons;
                padding: 1rem 4rem !important;
                margin-top: .5rem;
            }
        }
    }
}


// sign_up sections

.sign_in{
    display: flex;
    justify-content: space-between;
    height: 90vh;



    &_details{
        padding: 3rem 8rem;
        width: 50%;


        a{
            color: #4F46E5;
        }

        >:first-child{
            line-height: 3rem;
        }

        >:last-child{
            line-height: 2rem;

            input[type='email']{
                height: 3rem;
                outline: none;
                width: 60%;
                border-radius: 0.5rem;
                margin-bottom: 3rem;
                border: 1px solid #d4d7e5;;
            }

            input[type='password']{
                height: 3rem;
                outline: none;
                width: 60%;
                border-radius: 0.5rem;
                margin-bottom: 3rem;
                border: 1px solid #d4d7e5;;
            }

            button{
                @include Buttons();
                display: block;
                width: 60%;
                margin-top: 1rem;
                border: 1px solid transparent;
                padding: 1rem;
                font-size: 1.1rem;
            }

            a{
                text-align: center;
                display: block;
                width: 60%;
                color: #4F46E5;
            }

            >:last-child{
                width: 50%;
                text-align: center;
                margin-top: 1rem;
                border-top: 1px solid #e2e5f1;
                padding-top: 1rem;
  

                div{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    button{
                        width: 47%;
                        @include Buttons();
                        background: #eff2fc;
                        color: #33354D;
                        border: 1px solid #eff2fc;
                    }
                }
               
            }

            // >:nth-child(8){


            // }

        }
    }


    &_bg{
        width: 50%;
        background-image: url(../images/signin-bg.jpg);
        position: absolute;
        // width: 100%;
        height: 100%;
        right: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;


        img{
            width: 100%;
            object-fit: contain;
        }
    }


}

// Media Queries

@media only screen and (max-width:767px){
    .header_section{
        padding: 0 1rem;
       
        &_bars{
            display: block;
          
        }
    
        &_navs{
            display: none;
            z-index: 4;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,.95);
    
    
            :nth-child(2){
                color: $white_color;
            }

            ul{
                display: block;
            }
             
        }
      
       
    }

    .section_one, .section_four{

        background-position: top center;
        background-size: cover;
        padding: 5rem 0;
        
        height: auto;
       
        &_text{
            
            width: 90%;
            margin: 0 auto;
           
            h2{
                font-size: 2rem;
                 line-height: 3rem;
                
            }
    
            p{
                line-height: 1.7rem;
            }
           
        }
        
    }
    .section_two{
     
        padding: 4rem 1rem 0 1rem;
        
    
    
        &_text{
            width: 95%;
            text-align: center;
    
            h2{
                font-size: 1.7rem;
                padding-bottom: 0.5rem;
            
            }
    
            p{
                // line-height: 2rem;
                padding: 1rem 0rem 3rem 0rem
            }
            button{
                
                margin: -1rem 0 2rem;
            }
    
    
    
        }
    
        &_img{
            width: 100%;
        
    
        }
    }
    .section_three{
        
        padding: 12rem 1rem 5rem;
        
       
    
        &_intro, &_end{
            
            line-height: 2rem;
            padding-bottom: 1rem;
            text-align: center;
            width: 100%;
    
            h2{
                font-size: 2rem;
                padding-bottom:2rem;
                font-weight: bolder;
            }
    
        }
    
    
        &_contents{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
    
    
    
            &_one, &_two, &_three, &_four, &_five, &_six{
                width: 100%;
                
            
            }
        }
    }
    .section_four{
        height: auto !important;
      
    
        &_text{
     
        width: 75% !important;
       
       
        position: relative;
       
    
    
            p{
                text-align: start !important;
            }
    
         
    
            h3{
                font-size: 1.1rem;
                text-align: left;
            }
            h4{
                text-align: left;
                font-weight: 100
            }

            p{
                padding-top: 0.5rem
            }
    
            button{
                @include Buttons;
            }
        }
    
    
    }
    .section_five{
        padding: 5rem 1rem 4rem 1rem;
    
        &_title{
           
            line-height: 2rem;
    
    
    
            p{
                padding-top: 1rem;
            }
    
        }
    
    
        &_content{
         
            margin-top: 0;
         
                .about{
                    width: 100% !important;
                    margin-bottom: 0rem;
                    line-height: 2rem;
    
                    p{
                        color: $gray_color;
                    }
    
    
    
                    
                        >:first-child{
                            box-shadow: none !important;
                        
                    }
                }
    
            &_one, &_two, &_three, &_four{
                width: 100%;
                border-right: none;

                i{
                    font-size: 2rem;
                }
                
    
    
    
              
                
                
                
            }
    
           
        
    
        }
    }
    .section_six{
        margin-top: -2rem;
 
        padding: 0rem 0.5rem 0rem 0.5rem;
       
    
    
        .sponsor_logo{
            width: 18%;
            margin-top: 1rem;
        
        
            
        }
    }

    .section_seven{

        h2{
            font-size: 1.6rem;
            line-height: 3rem;
            padding: 0 1rem;
            word-spacing: 0.2rem
        }

        h4{
            word-spacing: 0.2rem;
        }
    }
    .section_eight{
    text-align: center;
    
        &_intro, &_navs, &_contact{
            width: 100%;
        }
    
    
        &_intro{
            line-height: 2rem;
            p{
                padding-top: 2rem;
            }
            button{
                @include Buttons;
            }
            input{
               
                width: 80%;
             
                margin-top: 1rem;
                margin-bottom: 1rem;
              border: 2px solid $white_color;
                padding-left: 2rem;
                
            }
    
        }
    
        &_navs{
            ul{
                height: 10rem;
                line-height: 2.5rem;
                width: 100%;
                
                
                
                padding-left: 0rem;
    
                li{
                    color: $gray_color;
                    font-weight: bolder;
                }
            }
        }

        &_contacts{
            margin-top: 3rem;
        }
    
    }

    // About page Media qureies 
    .about_section_one{
    
    
        &_text{
            width: 100%;
            padding: 3rem 2rem 2rem 2rem;
         
    
    
    
            &_one{
         
                margin-top: -8rem;
               
    
                >:first-child, >:nth-child(2), >:nth-child(3){
                    line-height: 1.5rem;
                    width: 20%;
                }
    
            }
        }
    
         &_img{
             width: 100%;
        
    
         >:first-child{
             
            padding: 1rem 1rem;
            top: 1rem;
           
         }
         >:last-child{
            
             padding: 1rem 1rem;
             top: 1rem;
           
    
    }
     }
    }
    .about_section_leadership{
       
        padding: 4rem 2rem;
    
    
        &_wrapper{
           
    
    
    
            &_one, &_two, &_three, &_four, &_five, &_six, &_seven, &_eight{
                width: 100%;
                
                 margin: 1rem 0;
            
            }
        }
    
    }
    .about_section_contact{
 
        width: 90%;
        margin: 0 auto;
       
        &_content{
           
            padding: 5.5rem 2rem;
                
            >:first-child{
              
                p{
                    line-height: 3rem;
                    font-size: 1rem;
                }
    
            }
        }
    }


    // meadia quries for contact page

    .contact{
       
        padding: 0rem;
    
        &_text{
            width: 100%;
            text-align: center;
            line-height: 5rem;
    
    
            h2{
                font-size: 3.5rem;
               
                -webkit-text-fill-color: rgba(0,0,0,0);
            }
    
            p{
                margin-top: 0rem;
                text-decoration: underline;
                font-weight: 700;
            }
        }
    
    
    
        &_form{
            width: 90%;
          margin: 0 auto;
    
    
            >:first-child{
            
                flex-wrap: wrap;
               
    
                 
                
    
            }
            >:last-child{
                
    
              
                    textarea{
                       
                        margin-bottom: 0rem;
                    
                     
                }
    
                
    
                button{
                    
                    margin-bottom: 1rem;

                }
            }
        }
    }



    // media queries for sign_in page

    .sign_in{
        display: flex;
        justify-content: space-between;
        height: 90vh;
    
    
    
        &_details{
            padding: 3rem 1rem;
            width: 100%;
    
    
            >:first-child{
                line-height: 2rem;
                text-align: center;
            }
    
            >:last-child{
                line-height: 1rem;
    
                input[type='email']{
                    height: 2.5rem;
                    margin-top: 1rem;
                    width: 100%;
                    
                }
    
                input[type='password']{
                    height: 2.5rem;
                   margin-top: 1rem;
                    width: 100%;
                
                }
    
                button{
                    @include Buttons();
                  
                    width: 100%;
                   
                }
    
                a{
                    
                    width: 100%;
                   
                }
    
                >:last-child{
                    width: 100%;
                    
      
    
                    div{
                      
                       
                        button{
                            width: 100%;
                            // @include Buttons();
                            background: #eff2fc;
                            color: #33354D;
                            border: 1px solid #eff2fc;
                            margin-bottom: 1.5rem;
                        }
                    }
                   
                }
    
    
            }
        }
    
    
        &_bg{
         display: none;
            
        }
    
    
    }

   
   
    
    
}


